/****************
*Arredondamentos*
********&********
****box-size*****
****************/

/*#caixa{
	width: 300px;
	height: 300px;
	background: #b9c941;
	padding: 50px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	
}
.arredondamento{
	border-radius: 150px;
}
#caixa2{
	width: 300px;
	height: 300px;
	background: #b9c941;
	
	
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	

}

/********
*Degrade*
****&****
Gradiente
********/
/*
#caixa{
	width: 300px;
	height: 300px;
	/*background: url("../imagens/camera.png");*/
	/*background: linear-gradient(to left, red, green)*/
	/*background: radial-gradient( red, green)
}
#caixa h1{
	background: rgba(255, 255, 255, 0.5);
}*/

/********
*Sombras*
********/
/*
#caixa{
	width: 300px;
	height: 300px;
	padding: 8px;
	margin: 20px;
	background: #009670;
	box-shadow: 20px 20px 2px 0px rgba(0,0,0,0.6);
	/* 1º movimenta a sombra para horizontal
	   2º movimenta a sombra para a vertical
	   3º define o nivel de borrado da sombra
	   4º define o tamanho do sprad (espalhar) da sombra
	   5º define a coloração da sombra, com opacidade
	

}
#caixa h1{
	color: white;
	text-shadow: 5px 5px 2px rgba(0,0,0,0.6);
	/* 1º movimenta a sombra para horizontal
	   2º movimenta a sombra para a vertical
	   3º define o nivel de borrado da sombra
	   4º define a coloração da sombra, com opacidade
	
}*/

/**********
*ANIMAÇOES*
**********/
/*
@keyframes animacao-caixa {
	from {
		background: red;
		border-radius: 0px;
		top: 0;
		left: 0;
	}
	to {
		background: green;
		border-radius: 300px;
		top: 200px;
		left: 200px;
	}
}

#caixa{
	width: 300px;
	height: 300px;
	background: red;
	position: relative;
	/*
	animation-name: animacao-caixa;
	animation-duration: 5s;
	animation-delay: 3s;
	animation-iteration-count: 2;
	animation-direction: alternate;*/

/*	animation: animacao-caixa 5s 3s 2 alternate;
}*/

/***********
*TRANSIÇÕES*
***********/
#caixa{
	width: 300px;
	height: 300px;
	background: orange;
}
#caixa:hover{
	width: 400px;	
	background: yellow;	
	transition: width 3s, background 3s;
}
#header #logo-area img{
	width: 200px;
	background: black;
}